<style>
    .clock {
        zoom: 0.5;
        -moz-transform: scale(0.5);
    }
    .punch {
        zoom: 0.5;
        -moz-transform: scale(0.5);
    }
    .btn{
        margin-left:10px;
        margin-top:10px;
        }

</style>

@if (Session["Account"] != null){ 
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

    <button class="btn btn-primary">現在時刻</button>
    <button class="btn btn-primary" onclick="PunchClick();">打卡</button>
    <div class="clock" style="margin:10px;"></div>

    
    @*<div class="punch" style="margin:10px;">
        <span id="punchTime" style="font-size:21px;font-weight:bold"></span>
    </div>*@

    <button id="punchTime" class="btn btn-primary" style="background-color:pink"></button>
    <hr />

    <ul class="nav menu">
        @if (Session["Account"] != null && Session["Account"].ToString() != "9999")
        {
            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-1" >
                    <span class="glyphicon glyphicon-list-alt"></span>工作日誌管理
                </a>
                <ul class="children collapse" id="sub-item-1">
                    <li>@Html.ActionLink("工作日誌查詢", "Index", "DiaryLogNew", new { userId = Session["Id"].ToString() }, null)</li>
                </ul>
            </li>
        }
        else if (Session["Account"] != null && Session["Account"].ToString() == "9999")
        {
            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-1">
                    <span class="glyphicon glyphicon-list-alt"></span> 工作日誌管理
                </a>
                <ul class="children collapse" id="sub-item-1">
                    <li>@Html.ActionLink("工作日誌查詢", "MasterIndex", "DiaryLogNew", new { userId = Session["Id"].ToString() }, null)</li>
                </ul>
            </li>
            <li class="parent ">
                <a data-toggle="collapse" href="#sub-item-2">
                    <span class="glyphicon glyphicon-lamp"></span> 帳號管理
                </a>
                <ul class="children collapse" id="sub-item-2">
                    <li>@Html.ActionLink("帳號查詢", "Index", "User")</li>
                </ul>
            </li>
        }

        <li role="presentation" class="divider"></li>
        <li><a href="/Account/Login"><span class="glyphicon glyphicon-user"></span>登入頁面</a></li>
    </ul>
</div><!--/.sidebar-->
}

<script type="text/javascript">
    var clock;

	$(document).ready(function() {

	    if ($.cookie("punchTime") != null) {
	        $("#punchTime").text("打卡時間為 "+$.cookie("punchTime"));
	    }

		clock = $('.clock').FlipClock({
			clockFace: 'TwentyFourHourClock'
		});
	});

	function PunchClick() {
	    var expireDate = new Date();
	    expireDate.setTime(expireDate.getTime() + (12 * 60 * 60 * 1000));//以【毫秒】為單位。這裡設定是1小時，若要設定1分鐘可(1*60*1000)
	    var punchT = new Date($.now());
	    var time = punchT.getHours() + ":" + punchT.getMinutes() + ":" + punchT.getSeconds();
	    //alert(time);

	    $.cookie("punchTime", time, { expires: expireDate });
	    $("#punchTime").text("打卡時間為 "+time);
	}


</script>