@if (Session["Id"] != null && Session["Account"] != null)
{
    <ul class="user-menu">
        <li class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Have a good day!  <span class="glyphicon glyphicon-user"></span> @Session["Name"].ToString()  (員工編號 @Session["Account"].ToString()) <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                @*<li><a href="#">@*<svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>Profile</a></li>*@
                <li><a href="/User/Edit"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> 帳號設定</a></li>
                <li><a href="/Account/Logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> 登出</a></li>
            </ul>
        </li>
    </ul>
}
